[user]
	name = Kesavan Yogeswaran
[pull]
	rebase = true
[push]
	default = current
	recurseSubmodules = check
[core]
	editor = nvim
	autocrlf = input
	excludesfile = ~/.gitignore_global
  pager = BAT_PAGER=\"less -R\" delta  --color-only --dark --paging always
[merge]
	tool = meld
[alias]
	lb = !git reflog show --pretty=format:'%gs ~ %gd' --date=relative | grep 'checkout:' | grep -oE '[^ ]+ ~ .*' | awk -F~ '!seen[$1]++' | head -n 10 | awk -F' ~ HEAD@{' '{printf(\"  \\033[33m%s: \\033[37m %s\\033[0m\\n\", substr($2, 1, length($2)-1), $1)}'
[include]
	path = ~/.gitconfig-local
[http]
	cookiefile = ~/.gitcookies
[fetch]
	parallel = 6
[submodule]
	fetchJobs = 6
[interactive]
  diffFilter = delta --dark --color-only
[init]
	defaultBranch = main
[url "git@github.com:"]
  pushInsteadOf = "https://github.com/"
